<h1 class="mt-3">Selectores Anidados</h1>
<hr>


<form autocomplete="off" [formGroup]="myForm">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option>-- Seleccione continente --</option>
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
    </div>
  </div>

  <!-- Countries -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">País:</label>
      <select class="form-control" formControlName="region">
        <option>-- Seleccione un país --</option>
        <!-- <option *ngFor="let region of regions" [value]="region">{{ region }}</option> -->
      </select>
    </div>
  </div>

</form>


<h3>Formulario</h3>
<code>
  {{ myForm.value | json }}
</code>

